@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@media(max-width : 800px){
  .topnav{
    font-size: 400px;
  }
  
}
img {
  border-radius: 5%;
}
:root{
  --cor-nav:rgb(32, 30, 30)
}
.header img {
  height: 200px;
  width: 200px;
}

.topnav {
  overflow: hidden;
  background-color: var(--cor-nav); 
  margin: 0%;
  position: relative;
  top: 0%;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
}

.topnav img {
  height: 200px;
  width: 200px;
}

.topnav p {
  text-align: center;
  color: rgb(255, 255, 255);
}

.topnav a:hover {
  background-color: rgb(221, 243, 209);
  color: rgb(0, 0, 0);
}

body {
  background-color: rgb(255, 255, 255);
  text-align: justify;
  margin: 0%;


}

#principal p{
  float: center;
  margin: 10px;
}
#principal h1 {
  text-align: center;
}
#principal h2{
  text-align: center;
  color: #365B73;
}
#principal img{
  margin: 40px;
}
#principal h5{
  text-align: left;
  margin: 10px;

}
.footer {
  left: 0%;
  bottom: 0%;
  width: 100%;
  background-color: black;
  height: 100px;
  text-align: center;
}

.footer p {
  color: aliceblue;
}

#principal{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  margin: 50px;
  margin-top: 0%;
  margin-bottom: 0%;
  
}
#principal img{
  width: 400px;
  height: 400px;
}

#principal2{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
}
#principal2 img{
  width: 900px;
  height: 200px;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
