@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
header {
    background-color: rgb(255, 255, 255);
    color: rgb(187, 107, 107);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    text-align: left;
  }

a:link,
a:visited {
  background-color:#BD9D77 ;
  color: rgb(240, 240, 240);
  padding: 16px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
}
body{
    background-color:#E8C192;
}
button{
  background-color: rgb(0, 0, 0);
  padding: 16px 23px;
  color :rgb(255, 255, 255)
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300x;
}
.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.box2 {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}
img{
  float: left;
  width: 200px;
  height: 200px;
}
a{
  width: 350px;
  height: 20px;
 
}
P{
  margin: 10px;
}
div{
  width: 800px;
  height: 50px;
  padding: 0px;
}
